<div align="center">
    <md-card md-theme="default" layout="column" layout-align="center center" flex="60" align="center">
        <md-card-content>
            <md-card-header md-colors="::{backgroundColor: 'default-primary-700'}">
                <md-card-header-text layout-align="center center">
                    <span class="md-headline" layout-align="center center">{{controller.currentUser.username}}'s Account Information</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <span> Information on current level and such (TODO)</span>
                <img ng-src="{{controller.currentUser.image}}" style="max-height:280px" />
            </md-card-content>
            <md-card-footer>
                <span>buttons to edit or go to gym</span>
            </md-card-footer>
    </md-card>