<div layout="row" layout-wrap layout-align="center center">
    <md-card flex="65">
        <md-card-header md-colors="::{backgroundColor: 'default-primary-700'}">
            <md-card-header-text layout-align="center center">
                <h2>Type Away!</h2>
            </md-card-header-text>
        </md-card-header>

        <h3>This is the word you should be typing: {{controller.currentWord}}</h3>
        <br>
        <h3>This is what you have typed: {{controller.typed}}</h3>
        <br>
        <h3 ng-show="controller.typed">What you typed + rest of the target word = {{controller.typed}}{{controller.difference}}</h3>
        <br>

        <div layout-align="center center">
            <md-content>
                <md-input-container layout-align="center center">
                    <label>Type Here!</label>
                    <input layout-align="center center" ng-keyup="controller.keyDown($event)" ng-model="controller.typed" type="text">
                </md-input-container>
            </md-content>
        </div>

    </md-card>
</div>