<h2>Login</h2>
<form ng-submit="controller.login(controller.user)">
    <md-input-container>
        <label>User Name</label>
        <input type="text" ng-model="controller.user.username">
    </md-input-container>
    </br>
    <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="controller.user.password">
    </md-input-container>
    </br>
    <md-button type="submit">Submit</md-button>
</form>
<div flex='50'>
    Registration
    <form ng-submit="controller.register(controller.newUser)">
        <md-input-container>
            <label>User Name</label>
            <input type="text" ng-model="controller.newUser.username">
        </md-input-container>
        <md-input-container>
            <label>Email</label>
            <input type="email" ng-model="controller.newUser.email">
        </md-input-container>
        <br/>
        <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="controller.newUser.password">
        </md-input-container>
        </br>
        <md-button type="submit">Submit</md-button>
    </form>
</div>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Sign in using Facebook</h1>


        <a href="/login/facebook" class="md-button"><span class="fa fa-facebook"></span> Facebook</a>

    </div>

</div>