body {
    background: url(https://static.pexels.com/photos/90807/pexels-photo-90807.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.md-button {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    color: whitesmoke;
}