body {
    background: url(https://static.pexels.com/photos/90807/pexels-photo-90807.jpeg) center center fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.md-button {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: dodgerblue;
    color: lightgray;
}

md-nav-bar .md-nav-bar {
    background: dodgerblue
}

.formError {
    color: red;
    font-weight: bold;
}